html {
  overflow: hidden;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  color: #fff;
  font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans' ; 
}

h1 {
  font-size: 5rem;
}

section {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10vh;
  margin-left: 2rem;
  margin-right: 2rem;
  max-height: 90vh;
}