.App {
  text-align: center;
  background-image: linear-gradient(to right, #141e30, #243b55);
  font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans' ; 
  color: #fff;
}

h1 {
  font-size: 5rem;
}
