.App {
  text-align: center;
  background-color: #88e35b;
  font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans' ; 
  color: #fff;
}

h1 {
  font-size: 5rem;
}
