#bio {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.avatar-img {
  width: 23%;
}

.about-summary {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: 25rem;
}