.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.sub-header{
  font-size: 2.5rem;
}

.avatar-logo {
  padding-bottom: 2.5rem;
  width: 40%;
}

.headings {
  padding: 2rem;
}
