#main_navbar {
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}

.navbar-main-links {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.navbar-home-link {
  padding: 0.5rem;
  min-width: 5rem;
  font-size: 2rem;
  color: white;
}

.navbar-home-link:hover {
  text-decoration: none;
  color: white; 
}

.link-icon {
  display: inline-flex !important; 
  border-radius: 50% !important;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

a svg {
  font-size: 1.3rem;
}