.navbar-list-item {
  padding: 0.5rem;
  border-radius: 15px !important;
  border: 2px solid white !important;
  margin-left: 1em;
  min-width: 5rem;
  font-size: 1.3rem !important;
  transition: 0.3s;
}

.navbar-list-item:hover {
  text-decoration: none;
  background-color: white;
}