.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio-item-image {
  max-width: 100%;
  height: auto;
}

.portfolio-item-caption {
  display: flex;
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

.portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  margin-right: 1.5em;
}