.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio-item-image {
  max-width: 100%;
  height: auto;
}

.portfolio-item-caption {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

.portfolio-item-caption:hover {
  opacity: 1;
}